<!DOCTYPE html>
<html lang="" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/phonebook.css"/>
    <title>Phone book</title>
</head>

<body>

<div id="app" class="content">
    <div class="delete-dialog"></div>

    <div class="alert" title="Нет выбранных контактов"></div>

    <div class="filter-container">
        <label class="mr-1">
            Введите текст:
            <input type="text" class="form-control input-sm"/>
        </label>
        <button class="btn btn-primary">Отфильтровать</button>
        <button class="btn btn-primary">Сбросить фильтр</button>
    </div>

    <table class="table table-bordered contact-table">
        <thead>
        <tr>
            <th>
                <label class="select-all-label">
                    <input type="checkbox" title="Выбрать"/>
                </label>
            </th>
            <th>№</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr v-cloak v-for="row in rows">
            <template v-if="row.shown">
                <td>
                    <label class="select-me-label">
                        <input type="checkbox" class="select-me"/>
                    </label>
                </td>
                <td v-text="row.number"></td>
                <td v-text="row.lastName"></td>
                <td v-text="row.firstName"></td>
                <td v-text="row.phone"></td>
                <td>
                    <button class="btn btn-primary" type="button" v-on:click="deleteCont">Удалить</button>
                </td>
            </template>
        </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary">Удалить выбранные</button>

    <br>

    <div class="server-error-message-container">
        <span v-show="serverValidation" v-text="serverError"></span>
    </div>

    <form class="form">
        <div>
            <label class="form-label">
                <span class="form-field">Фамилия:</span>
                <input type="text" class="form-control input-sm form-input ml-1"
                       v-model="lastName"
                       v-bind:class="{ 'input-error': lastNameError.error && validation }"/>
                <span v-show="validation" class="error-message" v-text="lastNameError.message"></span>
            </label>
        </div>
        <div>
            <label class="form-label">
                <span class="form-field">Имя:</span>
                <input type="text" class="form-control input-sm form-input ml-1"
                       v-model="firstName"
                       v-bind:class="{ 'input-error': firstNameError.error && validation }"/>
                <span v-show="validation" class="error-message" v-text="firstNameError.message"></span>
            </label>
        </div>
        <div>
            <label class="form-label">
                <span class="form-field">Телефон:</span>
                <input type="text" class="form-control input-sm form-input ml-1"
                       v-model="phone"
                       v-bind:class="{ 'input-error': phoneError.error && validation }"/>
                <span v-show="validation" class="error-message" v-text="phoneError.message"></span>
            </label>
        </div>
        <button type="button" class="btn btn-primary" v-on:click="addContact">Добавить</button>
    </form>
</div>

<script src="js/libs/jquery.js"></script>
<script src="js/libs/bootstrap.bundle.js"></script>
<script src="js/libs/vue.js"></script>
<script src="js/phonebook.js"></script>
</body>
</html>